<div class="shadowrun6 styled_box">
  <div class="flexrow grid grid-4col">
    <label
      for="system.attributes.body.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.body.value}}"
      data-label="{{system.attributes.body.label}}"
      >{{system.attributes.body.label}}</label
    >
    <input
      type="text"
      name="system.attributes.body.value"
      value="{{system.attributes.body.value}}"
      data-dtype="Number"
      class="flex3"
    />

    <label
      for="system.attributes.essence.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.essence.value}}"
      data-label="{{system.attributes.essence.label}}"
      >{{system.attributes.essence.label}}</label
    >
    <input
      type="text"
      name="system.attributes.essence.value"
      value="{{system.attributes.essence.value}}"
      data-dtype="Number"
      class="flex3"
    />
  </div>

  <div class="flexrow grid grid-4col">
    <label
      for="system.attributes.agility.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.agility.value}}"
      data-label="{{system.attributes.agility.label}}"
      >{{system.attributes.agility.label}}</label
    >
    <input
      type="text"
      name="system.attributes.agility.value"
      value="{{system.attributes.agility.value}}"
      data-dtype="Number"
      class="flex3"
    />

    <label
      for="system.attributes.magic_resonance.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.magic_resonance.value}}"
      data-label="{{system.attributes.magic_resonance.label}}"
      >{{system.attributes.magic_resonance.label}}</label
    >
    <input
      type="text"
      name="system.attributes.magic_resonance.value"
      value="{{system.attributes.magic_resonance.value}}"
      data-dtype="Number"
      class="flex3"
    />
  </div>

  <div class="flexrow grid grid-4col">
    <label
      for="system.attributes.reaction.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.reaction.value}}"
      data-label="{{system.attributes.reaction.label}}"
      >{{system.attributes.reaction.label}}</label
    >
    <input
      type="text"
      name="system.attributes.reaction.value"
      value="{{system.attributes.reaction.value}}"
      data-dtype="Number"
      class="flex3"
    />

    <label
      for="system.attributes.initiative.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.initiative.value}}"
      data-label="{{system.attributes.initiative.label}}"
      >{{system.attributes.initiative.label}}</label
    >
    <input
      type="text"
      name="system.attributes.initiative.value"
      value="{{system.attributes.initiative.value}}"
      data-dtype="String"
      class="flex3"
    />
  </div>

  <div class="flexrow grid grid-4col">
    <label
      for="system.attributes.strength.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.strength.value}}"
      data-label="{{system.attributes.strength.label}}"
      >{{system.attributes.strength.label}}</label
    >
    <input
      type="text"
      name="system.attributes.strength.value"
      value="{{system.attributes.strength.value}}"
      data-dtype="Number"
      class="flex3"
    />

    <label
      for="system.attributes.matrix_initiative.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.matrix_initiative.value}}"
      data-label="{{system.attributes.matrix_initiative.label}}"
      >{{system.attributes.matrix_initiative.label}}</label
    >
    <input
      type="text"
      name="system.attributes.matrix_initiative.value"
      value="{{system.attributes.matrix_initiative.value}}"
      data-dtype="String"
      class="flex3"
    />
  </div>

  <div class="flexrow grid grid-4col">
    <label
      for="system.attributes.willpower.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.willpower.value}}"
      data-label="{{system.attributes.willpower.label}}"
      >{{system.attributes.willpower.label}}</label
    >
    <input
      type="text"
      name="system.attributes.willpower.value"
      value="{{system.attributes.willpower.value}}"
      data-dtype="Number"
      class="flex3"
    />

    <label
      for="system.attributes.astral_initiative.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.astral_initiative.value}}"
      data-label="{{system.attributes.astral_initiative.label}}"
      >{{system.attributes.astral_initiative.label}}</label
    >
    <input
      type="text"
      name="system.attributes.astral_initiative.value"
      value="{{system.attributes.astral_initiative.value}}"
      data-dtype="String"
      class="flex3"
    />
  </div>

  <div class="flexrow grid grid-4col">
    <label
      for="system.attributes.logic.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.logic.value}}"
      data-label="{{system.attributes.logic.label}}"
      >{{system.attributes.logic.label}}</label
    >
    <input
      type="text"
      name="system.attributes.logic.value"
      value="{{system.attributes.logic.value}}"
      data-dtype="Number"
      class="flex3"
    />

    <label
      for="system.attributes.composure.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.composure.value}}"
      data-label="{{system.attributes.composure.label}}"
      >{{system.attributes.composure.label}}</label
    >
    <input
      type="text"
      name="system.attributes.composure.value"
      value="{{system.attributes.composure.value}}"
      data-dtype="String"
      class="flex3"
    />
  </div>

  <div class="flexrow grid grid-4col">
    <label
      for="system.attributes.intuition.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.intuition.value}}"
      data-label="{{system.attributes.intuition.label}}"
      >{{system.attributes.intuition.label}}</label
    >
    <input
      type="text"
      name="system.attributes.intuition.value"
      value="{{system.attributes.intuition.value}}"
      data-dtype="Number"
      class="flex3"
    />

    <label
      for="system.attributes.judge_intentions.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.judge_intentions.value}}"
      data-label="{{system.attributes.judge_intentions.label}}"
      >{{system.attributes.judge_intentions.label}}</label
    >
    <input
      type="text"
      name="system.attributes.judge_intentions.value"
      value="{{system.attributes.judge_intentions.value}}"
      data-dtype="String"
      class="flex3"
    />
  </div>

  <div class="flexrow grid grid-4col">
    <label
      for="system.attributes.charisma.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.charisma.value}}"
      data-label="{{system.attributes.charisma.label}}"
      >{{system.attributes.charisma.label}}</label
    >
    <input
      type="text"
      name="system.attributes.charisma.value"
      value="{{system.attributes.charisma.value}}"
      data-dtype="Number"
      class="flex3"
    />

    <label
      for="system.attributes.memory.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.memory.value}}"
      data-label="{{system.attributes.memory.label}}"
      >{{system.attributes.memory.label}}</label
    >
    <input
      type="text"
      name="system.attributes.memory.value"
      value="{{system.attributes.memory.value}}"
      data-dtype="String"
      class="flex3"
    />
  </div>

  <div class="flexrow grid grid-4col">
    <label
      for="system.attributes.edge.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.edge.value}}"
      data-label="{{system.attributes.edge.label}}"
      >{{system.attributes.edge.label}}</label
    >
    <input
      type="text"
      name="system.attributes.edge.value"
      value="{{system.attributes.edge.value}}"
      data-dtype="Number"
      class="flex3"
    />

    <label
      for="system.attributes.lift_carry.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.lift_carry.value}}"
      data-label="{{system.attributes.lift_carry.label}}"
      >{{system.attributes.lift_carry.label}}</label
    >
    <input
      type="text"
      name="system.attributes.lift_carry.value"
      value="{{system.attributes.lift_carry.value}}"
      data-dtype="String"
      class="flex3"
    />
  </div>

  <div class="flexrow grid grid-4col">
    <label
      for="system.attributes.movement.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.movement.value}}"
      data-label="{{system.attributes.movement.label}}"
      >{{system.attributes.movement.label}}</label
    >
    <input
      type="text"
      name="system.attributes.movement.value"
      value="{{system.attributes.movement.value}}"
      data-dtype="String"
      class="flex3"
    />

    <label
      for="system.attributes.unarmed_ar.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.unarmed_ar.value}}"
      data-label="{{system.attributes.unarmed_ar.label}}"
      >{{system.attributes.unarmed_ar.label}}</label
    >
    <input
      type="text"
      name="system.attributes.unarmed_ar.value"
      value="{{system.attributes.unarmed_ar.value}}"
      data-dtype="String"
      class="flex3"
    />
  </div>

  <div class="flexrow grid grid-4col">
    <label
      for="system.attributes.defense_rating.value"
      class="resource-label rolldialog align-left"
      data-roll="{{system.attributes.defense_rating.value}}"
      data-label="{{system.attributes.defense_rating.label}}"
      >{{system.attributes.defense_rating.label}}</label
    >
    <input
      type="text"
      name="system.attributes.defense_rating.value"
      value="{{system.attributes.defense_rating.value}}"
      data-dtype="Number"
      class="flex3"
    />
  </div>
</div>
