<div class="shadowrun6 styled_box">
  <h2>{{localize 'SHADOWRUN6.Titles.RangedWeapons'}}</h2>

  {{!-- Ranged Weapons --}}

  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">{{localize 'SHADOWRUN6.Items.RangedWeapon.name'}}</div>
      <div class="item-name">{{localize 'SHADOWRUN6.Items.RangedWeapon.weapon_damage'}}</div>
      <div class="item-name">{{localize 'SHADOWRUN6.Items.RangedWeapon.weapon_mode'}}</div>
      <div class="item-name">{{localize 'SHADOWRUN6.Items.RangedWeapon.range'}}</div>
      <div class="item-name">{{localize 'SHADOWRUN6.Items.RangedWeapon.weapon_ammo'}}</div>
      <div class="item-controls">
        <a
          class="item-control item-create"
          title="Create item"
          data-type="ranged_weapon"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
    </li>
    {{#each ranged_weapons as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name">
        <h4>{{item.name}}</h4>
      </div>
      <div>{{item.system.weapon_damage}}</div>
      <div>{{item.system.weapon_mode}}</div>
      <div>
        {{item.system.weapon_r_close}} / {{item.system.weapon_r_near}} /
        {{item.system.weapon_r_far}} / {{item.system.weapon_r_extreme}}
      </div>
      <div>{{item.system.weapon_ammo}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"
          ><i class="fas fa-edit"></i
        ></a>
        <a class="item-control item-delete" title="Delete Item"
          ><i class="fas fa-trash"></i
        ></a>
      </div>
    </li>
    {{/each}}
  </ol>
</div>
<div class="shadowrun6 styled_box">
  {{!-- Melee Weapons --}}
  <h2>{{localize 'SHADOWRUN6.Titles.MeleeWeapons'}}</h2>

  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">{{localize 'SHADOWRUN6.Items.MeleeWeapon.name'}}</div>
      <div class="item-name">{{localize 'SHADOWRUN6.Items.MeleeWeapon.weapon_damage'}}</div>
      <div class="item-name">{{localize 'SHADOWRUN6.Items.MeleeWeapon.weapon_r_close'}}</div>
      <div class="item-controls">
        <a
          class="item-control item-create"
          title="Create item"
          data-type="melee_weapon"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
    </li>
    {{#each melee_weapons as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name">
        <h4>{{item.name}}</h4>
      </div>
      <div>{{item.system.weapon_damage}}</div>
      <div>{{item.system.weapon_r_close}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"
          ><i class="fas fa-edit"></i
        ></a>
        <a class="item-control item-delete" title="Delete Item"
          ><i class="fas fa-trash"></i
        ></a>
      </div>
    </li>
    {{/each}}
  </ol>
</div>
<div class="shadowrun6 styled_box">
  {{!-- Armor --}}
  <h2>{{localize 'SHADOWRUN6.Titles.Armor'}}</h2>

  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">Name</div>
      <div class="item-name">{{localize 'SHADOWRUN6.Items.Armor.armor_rating'}}</div>
      <div class="item-controls">
        <a
          class="item-control item-create"
          title="Create item"
          data-type="armor"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
    </li>
    {{#each equipment_armor as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name">
        <h4>{{item.name}}</h4>
      </div>
      <div>{{item.system.armor_rating}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"
          ><i class="fas fa-edit"></i
        ></a>
        <a class="item-control item-delete" title="Delete Item"
          ><i class="fas fa-trash"></i
        ></a>
      </div>
    </li>
    {{/each}}
  </ol>
</div>
