<div class="shadowrun6 styled_box">
  <div class="flexrow grid grid-2col">
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute_mods-partial.html" contextAttribute=system.attributes.body  contextAttrMod=system.attributes.body_mod attrName="body"}}
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute-partial.html" contextAttribute=system.attributes.essence  attrName="essence"}}
    
  </div>

  <div class="flexrow grid grid-2col">
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute_mods-partial.html" contextAttribute=system.attributes.agility  contextAttrMod=system.attributes.agility_mod attrName="agility"}}
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute_mods-partial.html" contextAttribute=system.attributes.magic_resonance  contextAttrMod=system.attributes.magic_resonance_mod attrName="magic_resonance"}}
  </div>

  <div class="flexrow grid grid-2col">
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute_mods-partial.html" contextAttribute=system.attributes.reaction  contextAttrMod=system.attributes.reaction_mod attrName="reaction"}}
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute-partial.html" contextAttribute=system.attributes.initiative  attrName="initiative"}}
  
</div>

  <div class="flexrow grid grid-2col">
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute_mods-partial.html" contextAttribute=system.attributes.strength  contextAttrMod=system.attributes.strength_mod attrName="strength"}}
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute-partial.html" contextAttribute=system.attributes.matrix_initiative  attrName="matrix_initiative"}}
  
  </div>

  <div class="flexrow grid grid-2col">
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute_mods-partial.html" contextAttribute=system.attributes.willpower  contextAttrMod=system.attributes.willpower_mod attrName="willpower"}}
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute-partial.html" contextAttribute=system.attributes.astral_initiative  attrName="astral_initiative"}}
  </div>

  <div class="flexrow grid grid-2col">
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute_mods-partial.html" contextAttribute=system.attributes.logic  contextAttrMod=system.attributes.logic_mod attrName="logic"}}
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute_mods-partial.html" contextAttribute=system.attributes.composure  contextAttrMod=system.attributes.composure_mod attrName="composure"}}
  </div>

  <div class="flexrow grid grid-2col">
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute_mods-partial.html" contextAttribute=system.attributes.intuition  contextAttrMod=system.attributes.intuition_mod attrName="intuition"}}
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute_mods-partial.html" contextAttribute=system.attributes.judge_intentions  contextAttrMod=system.attributes.judge_intentions_mod attrName="judge_intentions"}}
  </div>

  <div class="flexrow grid grid-2col">
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute_mods-partial.html" contextAttribute=system.attributes.charisma  contextAttrMod=system.attributes.charisma_mod attrName="charisma"}}
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute_mods-partial.html" contextAttribute=system.attributes.memory  contextAttrMod=system.attributes.memory_mod attrName="memory"}}

  </div>

  <div class="flexrow grid grid-2col">
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute-partial.html" contextAttribute=system.attributes.edge  attrName="edge"}}
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute_mods-partial.html" contextAttribute=system.attributes.lift_carry  contextAttrMod=system.attributes.lift_carry_mod attrName="lift_carry"}}
  </div>

  <div class="flexrow grid grid-2col">
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute-partial.html" contextAttribute=system.attributes.movement  attrName="movement"}}
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute_mods-partial.html" contextAttribute=system.attributes.unarmed_ar  contextAttrMod=system.attributes.unarmed_ar_mod attrName="unarmed_ar"}}
  </div>

  <div class="flexrow grid grid-2col">
    {{> "systems/shadowrun6-lw/templates/actor/parts/attribute_mods-partial.html" contextAttribute=system.attributes.defense_rating  contextAttrMod=system.attributes.defense_rating_mod attrName="defense_rating"}}
  </div>
</div>
