<div class="shadowrun6 styled_box">
  <div class="flexrow grid">
    <label for="system.matrix.attack" class="resource-label">{{localize 'SHADOWRUN6.Matrix.attack'}}</label>
    <input
      type="text"
      name="system.matrix.attack"
      value="{{system.matrix.attack}}"
      data-dtype="String"
      class="flex3"
    />
  </div>
  <div class="flexrow grid">
    <label for="system.matrix.sleaze" class="resource-label">{{localize 'SHADOWRUN6.Matrix.sleaze'}}</label>
    <input
      type="text"
      name="system.matrix.sleaze"
      value="{{system.matrix.sleaze}}"
      data-dtype="String"
      class="flex3"
    />
  </div>
  <div class="flexrow grid">
    <label for="system.matrix.data_processing" class="resource-label"
      >{{localize 'SHADOWRUN6.Matrix.data_processing'}}</label
    >
    <input
      type="text"
      name="system.matrix.data_processing"
      value="{{system.matrix.data_processing}}"
      data-dtype="String"
      class="flex3"
    />
  </div>
  <div class="flexrow grid">
    <label for="system.matrix.firewall" class="resource-label">{{localize 'SHADOWRUN6.Matrix.firewall'}}</label>
    <input
      type="text"
      name="system.matrix.firewall"
      value="{{system.matrix.firewall}}"
      data-dtype="String"
      class="flex3"
    />
  </div>
  <div class="flexrow grid">
    <label for="system.matrix.device_rating" class="resource-label"
      >{{localize 'SHADOWRUN6.Matrix.device_rating'}}</label
    >
    <input
      type="text"
      name="system.matrix.device_rating"
      value="{{system.matrix.device_rating}}"
      data-dtype="String"
      class="flex3"
    />
  </div>
  <div class="flexrow grid">
    <label for="system.matrix.programs" class="resource-label">{{localize 'SHADOWRUN6.Matrix.programs'}}</label>
    <textarea name="system.matrix.programs" data-dtype="String" class="flex3">
{{system.matrix.programs}}</textarea
    >
  </div>
  <div class="flexrow grid">
    <label for="system.matrix.condition_monitor.value" class="resource-label"
      >{{localize 'SHADOWRUN6.Matrix.condition_monitor'}}</label
    >
    <input
      type="text"
      name="system.matrix.condition_monitor.value"
      value="{{system.matrix.condition_monitor.value}}"
      data-dtype="Number"
      class="flex3"
    />
  </div>
</div>
