<fieldset class="shadowrun6 styled_box">
  <legend>{{localize 'SHADOWRUN6.Titles.QuickMatrixActions'}}</legend>
  <section class="grid grid-3col">
    <div class="flexcol">
      <span
        class="rolldialog"
        data-roll="{{system.matrix_legal_action_dp}}"
        data-label="{{localize 'SHADOWRUN6.Actions.MatrixActionLegal'}}"
        title="{{localize 'SHADOWRUN6.Help.MatrixActionLegal'}}"
      >
        <i class="fa-solid fa-dice-five"></i> {{localize
        'SHADOWRUN6.Actions.MatrixActionLegal'}} ({{system.matrix_legal_action_dp}})
        </span>
    </div>
    <div class="flexcol">
        <select class="" name="system.matrix.matrix_attr_legal" data-type="String">
          {{#select system.matrix.matrix_attr_legal}} {{#each skill_selection as
            |skill key|}}
            <option value="{{skill.name}}">{{skill.name_with_total_mod}}</option>
            {{/each}} {{/select}}
        </select>
    </div>
  </section>
  <section class="grid grid-3col">
    <div class="flexcol">
      <span
        class="rolldialog"
        data-roll="{{system.matrix_legal_action_dp}}"
        data-label="{{localize 'SHADOWRUN6.Actions.MatrixActionIllegal'}}"
        title="{{localize 'SHADOWRUN6.Help.MatrixActionIllegal'}}"
      >
        <i class="fa-solid fa-dice-five"></i> {{localize
        'SHADOWRUN6.Actions.MatrixActionIllegal'}} ({{system.matrix_illegal_action_dp}})
        </span>
    </div>
    <div class="flexcol">
        <select class="" name="system.matrix.matrix_attr_illegal" data-type="String">
          {{#select system.matrix.matrix_attr_illegal}} {{#each skill_selection as
            |skill key|}}
            <option value="{{skill.name}}">{{skill.name_with_total_mod}}</option>
            {{/each}} {{/select}}
        </select>
    </div>
  </section>
</fieldset>

<div class="shadowrun6 styled_box">
  <div class="flexrow grid">
    <label for="system.matrix.attack" class="resource-label">{{localize 'SHADOWRUN6.Matrix.attack'}}</label>
    <input
      type="text"
      name="system.matrix.attack"
      value="{{system.matrix.attack}}"
      data-dtype="String"
      class="flex3"
    />
  </div>
  <div class="flexrow grid">
    <label for="system.matrix.sleaze" class="resource-label">{{localize 'SHADOWRUN6.Matrix.sleaze'}}</label>
    <input
      type="text"
      name="system.matrix.sleaze"
      value="{{system.matrix.sleaze}}"
      data-dtype="String"
      class="flex3"
    />
  </div>
  <div class="flexrow grid">
    <label for="system.matrix.data_processing" class="resource-label"
      >{{localize 'SHADOWRUN6.Matrix.data_processing'}}</label
    >
    <input
      type="text"
      name="system.matrix.data_processing"
      value="{{system.matrix.data_processing}}"
      data-dtype="String"
      class="flex3"
    />
  </div>
  <div class="flexrow grid">
    <label for="system.matrix.firewall" class="resource-label">{{localize 'SHADOWRUN6.Matrix.firewall'}}</label>
    <input
      type="text"
      name="system.matrix.firewall"
      value="{{system.matrix.firewall}}"
      data-dtype="String"
      class="flex3"
    />
  </div>
  <div class="flexrow grid">
    <label for="system.matrix.device_rating" class="resource-label"
      >{{localize 'SHADOWRUN6.Matrix.device_rating'}}</label
    >
    <input
      type="text"
      name="system.matrix.device_rating"
      value="{{system.matrix.device_rating}}"
      data-dtype="String"
      class="flex3"
    />
  </div>
  <div class="flexrow grid">
    <label for="system.matrix.programs" class="resource-label">{{localize 'SHADOWRUN6.Matrix.programs'}}</label>
    <textarea name="system.matrix.programs" data-dtype="String" class="flex3">
{{system.matrix.programs}}</textarea
    >
  </div>
  <div class="flexrow grid">
    <label for="system.matrix.condition_monitor.value" class="resource-label"
      >{{localize 'SHADOWRUN6.Matrix.condition_monitor'}}</label
    >
    <input
      type="text"
      name="system.matrix.condition_monitor.value"
      value="{{system.matrix.condition_monitor.value}}"
      data-dtype="Number"
      class="flex3"
    />
  </div>
</div>
