<fieldset class="shadowrun6 styled_box">
  <legend>{{localize 'SHADOWRUN6.Titles.QuickMagicActions'}}</legend>
  <section class="grid grid-3col">
    <div class="flexcol">
      <span
        class="rolldialog"
        data-roll="{{system.magic_spell_check_dp}}"
        data-label="{{localize 'SHADOWRUN6.Actions.MagicCheck'}}"
        title="{{localize 'SHADOWRUN6.Help.MagicCheck'}}"
      >
        <i class="fa-solid fa-dice-five"></i> {{localize
        'SHADOWRUN6.Actions.MagicCheck'}} ({{system.magic_spell_check_dp}})
        </span>
    </div>
    <div class="flexcol"><span> </span></div>
    <div class="flexcol">
        <select class="" name="system.magic.spell_check_skill" data-type="String">
          {{#select system.magic.spell_check_skill}} {{#each skill_selection as
            |skill key|}}
            <option value="{{skill.name}}">{{skill.name_with_total_mod}}</option>
            {{/each}} {{/select}}
        </select>
    </div>
  </section>

  <section class="grid grid-3col">
    <div class="flexcol">
      <span
        class="rolldialog"
        data-roll="{{system.drain_check_dp}}"
        data-label="{{localize 'SHADOWRUN6.Actions.MagicDrainCheck'}}"
        title="{{localize 'SHADOWRUN6.Help.MagicDrainCheck'}}"
      >
        <i class="fa-solid fa-dice-five"></i> {{localize
        'SHADOWRUN6.Actions.MagicDrainCheck'}} ({{system.drain_check_dp}})
        </span>
    </div>
    <div class="flexcol"><span>{{system.attributes.willpower.label}} + </span></div>
    <div class="flexcol">
        <select class="" name="system.magic.drain_check_skill" data-type="String">
          {{#select system.magic.drain_check_skill}} {{#each attribute_selection as
            |attr|}}
              <option value="{{attr.key}}">{{attr.label_with_total_mod}}</option>
            {{/each}}
          {{/select}}
        </select>
    </div>
  </section>

</fieldset>

<div class="shadowrun6 styled_box">
  <h2>{{localize 'SHADOWRUN6.Titles.MagicSpells'}}</h2>
  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">
        {{localize 'SHADOWRUN6.Items.MagicSpell.name'}}
      </div>
      <div class="item-name">
        {{localize 'SHADOWRUN6.Items.MagicSpell.sprcf'}}
      </div>
      <div class="item-name">
        {{localize 'SHADOWRUN6.Items.MagicSpell.type_target'}}
      </div>
      <div class="item-name">
        {{localize 'SHADOWRUN6.Items.MagicSpell.range'}}
      </div>
      <div class="item-name">
        {{localize 'SHADOWRUN6.Items.MagicSpell.duration'}}
      </div>
      <div class="item-name">
        {{localize 'SHADOWRUN6.Items.MagicSpell.drain'}}
      </div>
      <div class="item-name">
        {{localize 'SHADOWRUN6.Items.MagicSpell.damage'}}
      </div>
      <div class="item-controls">
        <a
          class="item-control item-create"
          title="Create item"
          data-type="magic_spell"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
    </li>
    {{#each magic_spells as |item id|}}
    <li class="item flexrow tooltip" data-item-id="{{item._id}}">
      <div class="item-name">
        <h4>{{item.name}}</h4>
        {{#check item.system.short_description}}
          <span class="tooltiptext">{{item.system.short_description}}</span>
        {{/check}}
      </div>
      <div>{{item.system.sprcf}}</div>
      <div>{{item.system.type_target}}</div>
      <div>{{item.system.range}}</div>
      <div>{{item.system.duration}}</div>
      <div>{{item.system.drain}}</div>
      <div>{{item.system.damage}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"
          ><i class="fas fa-edit"></i
        ></a>
        <a class="item-control item-delete" title="Delete Item"
          ><i class="fas fa-trash"></i
        ></a>
      </div>
    </li>
    {{/each}}
  </ol>
</div>
<div class="shadowrun6 styled_box">
  <h2>
    {{localize 'SHADOWRUN6.Titles.AdeptPowersAndOthers'}}
  </h2>
  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">
        {{localize 'SHADOWRUN6.Items.AdeptPower.name'}}
      </div>
      <div class="item-name">
        {{localize 'SHADOWRUN6.Items.AdeptPower.level'}}
      </div>
      <div class="item-name">
        {{localize 'SHADOWRUN6.Items.AdeptPower.costs'}}
      </div>
      <div class="item-controls">
        <a
          class="item-control item-create"
          title="Create item"
          data-type="adept_power"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
    </li>
    {{#each adept_powers as |item id|}}
    <li class="item flexrow tooltip" data-item-id="{{item._id}}">
      <div class="item-name">
        <h4>{{item.name}}</h4>
        {{#check item.system.short_description}}
          <span class="tooltiptext">{{item.system.short_description}}</span>
        {{/check}}
      </div>
      <div>{{item.system.level}}</div>
      <div>{{item.system.costs}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"
          ><i class="fas fa-edit"></i
        ></a>
        <a class="item-control item-delete" title="Delete Item"
          ><i class="fas fa-trash"></i
        ></a>
      </div>
    </li>
    {{/each}}
  </ol>
</div>
