<div class="flexrow grid">
    <label for="system.vehicle.name" class="resource-label">Vehicle</label>
    <input type="text" name="system.vehicle.name" value="{{system.vehicle.name}}" data-dtype="String" class="flex3"/>
</div>
<div class="flexrow grid">
    <label for="system.vehicle.handling" class="resource-label">Handling</label>
    <input type="text" name="system.vehicle.handling" value="{{system.vehicle.handling}}" data-dtype="String" class="flex3"/>
</div>
<div class="flexrow grid">
    <label for="system.vehicle.acceleration" class="resource-label">Acceleration</label>
    <input type="text" name="system.vehicle.acceleration" value="{{system.vehicle.acceleration}}" data-dtype="String" class="flex3"/>
</div>
<div class="flexrow grid">
    <label for="system.vehicle.speed_interval" class="resource-label">Speed Interval</label>
    <input type="text" name="system.vehicle.speed_interval" value="{{system.vehicle.speed_interval}}" data-dtype="String" class="flex3"/>
</div>
<div class="flexrow grid">
    <label for="system.vehicle.top_speed" class="resource-label">Top Speed</label>
    <input type="text" name="system.vehicle.top_speed" value="{{system.vehicle.top_speed}}" data-dtype="String" class="flex3"/>
</div>
<div class="flexrow grid">
    <label for="system.vehicle.body" class="resource-label">Body</label>
    <input type="text" name="system.vehicle.body" value="{{system.vehicle.body}}" data-dtype="String" class="flex3"/>
</div>
<div class="flexrow grid">
    <label for="system.vehicle.armor" class="resource-label">Armor</label>
    <input type="text" name="system.vehicle.armor" value="{{system.vehicle.armor}}" data-dtype="String" class="flex3"/>
</div>
<div class="flexrow grid">
    <label for="system.vehicle.pilot" class="resource-label">Pilot</label>
    <input type="text" name="system.vehicle.pilot" value="{{system.vehicle.pilot}}" data-dtype="String" class="flex3"/>
</div>
<div class="flexrow grid">
    <label for="system.vehicle.sensor" class="resource-label">Sensor</label>
    <input type="text" name="system.vehicle.sensor" value="{{system.vehicle.sensor}}" data-dtype="String" class="flex3"/>
</div>
<div class="flexrow grid">
    <label for="system.vehicle.seats" class="resource-label">Seats</label>
    <input type="text" name="system.vehicle.seats" value="{{system.vehicle.seats}}" data-dtype="String" class="flex3"/>
</div>
{{editor system.description target="system.vehicle.notes" rollData=rollData button=true owner=owner editable=editable}}