<div class="shadowrun6 styled_box">
  <h2>{{localize 'SHADOWRUN6.Titles.Augmentation'}}</h2>
  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">Name</div>
      <div class="item-name">{{localize 'SHADOWRUN6.Items.Augmentation.rating'}}</div>
      <div class="item-name">{{localize 'SHADOWRUN6.Items.Augmentation.essence'}}</div>
      <div class="item-controls">
        <a
          class="item-control item-create"
          title="Create item"
          data-type="augmentation"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
    </li>
    {{#each augmentations as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name">
        <h4>{{item.name}}</h4>
      </div>
      <div>{{item.system.rating}}</div>
      <div>{{item.system.essence}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"
          ><i class="fas fa-edit"></i
        ></a>
        <a class="item-control item-delete" title="Delete Item"
          ><i class="fas fa-trash"></i
        ></a>
      </div>
    </li>
    {{/each}}
  </ol>
</div>
<div class="shadowrun6 styled_box">
  <h2>{{localize 'SHADOWRUN6.Titles.Gear'}}</h2>
  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">{{localize 'SHADOWRUN6.Items.Gear.name'}}</div>
      <div class="item-name">{{localize 'SHADOWRUN6.Items.Gear.rating'}}</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create item" data-type="gear"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
    </li>
    {{#each gear as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name">
        <h4>{{item.name}}</h4>
      </div>
      <div>{{item.system.rating}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"
          ><i class="fas fa-edit"></i
        ></a>
        <a class="item-control item-delete" title="Delete Item"
          ><i class="fas fa-trash"></i
        ></a>
      </div>
    </li>
    {{/each}}
  </ol>
</div>
