<form class="{{cssClass}} {{actor.type}} flexcol sheet-background" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="100"
      width="100"
    />
    <div class="header-fields">
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use, use
      both the "grid" and "grid-Ncol" class where "N" can be any number from 1
      to 12 and will create that number of columns. --}}
      <div class="">
        {{!-- "flex-group-center" is also defined in the _grid.scss file and it
        will add a small amount of padding, a border, and will center all of its
        child elements content and text. --}}
        <fieldset class="shadowrun6 styled_box">
          <legend>{{localize 'SHADOWRUN6.AttributeCmPhysical'}}</legend>

          <div class="flexrow">
            <div class="flexrow" style="flex: 0 0 100px">
              <input
                type="text"
                name="system.cm_physical.value"
                value="{{system.cm_physical.value}}"
                data-dtype="Number"
              />
              <span class="flex-null" style="width: 20px; padding:4px;"> / </span>
              <input
                type="text"
                name="system.cm_physical.max"
                value="{{system.cm_physical.max}}"
                data-dtype="Number"
              />
            </div>
            <div class="resource-content flexrow flex-center flex-between">
              {{#times system.cm_physical.max}} {{#if (lt @index
              system.cm_physical.value)}}
              <span class="cm_box green cm_click_physical" data-value="{{@index}}"></span>
              {{else}}
              <span class="cm_box red cm_click_physical" data-value="{{@index}}"></span>
              {{/if}} {{/times}}
            </div>
          </div>
        </fieldset>

        <fieldset class="shadowrun6 styled_box">
          <legend>{{localize 'SHADOWRUN6.AttributeCmStun'}}</legend>
          <div class="flexrow">
              <div class="flexrow" style="flex: 0 0 100px">
                <input
                  type="text"
                  name="system.cm_stun.value"
                  value="{{system.cm_stun.value}}"
                  data-dtype="Number"
                />
                <span class="flex-null" style="width: 20px; padding:4px;"> / </span>
                <input
                  type="text"
                  name="system.cm_stun.max"
                  value="{{system.cm_stun.max}}"
                  data-dtype="Number"
                />
            </div>
            <div class="resource-content flexrow flex-center flex-between">
              {{#times system.cm_stun.max}} {{#if (lt @index
              system.cm_stun.value)}}
              <span class="cm_box green cm_click_stun" data-value="{{@index}}"></span>
              {{else}}
              <span class="cm_box red cm_click_stun" data-value="{{@index}}"></span>
              {{/if}} {{/times}}
            </div>
          </div>
        </fieldset>
        <div class="styled_box">
          <div class="resource-content flexrow flex-center flex-between">
            <div class="flexrow flex-group-center">
              {{localize 'SHADOWRUN6.Labels.DicePoolMod'}}: {{system.dice_pool_mod}}
            </div>
            <div class="flexrow flex-group-center">
              <label
                >Edge ({{system.attributes.edge.value}}):
              </label>
              <input
                  type="text"
                  name="system.edge_points.value"
                  value="{{system.edge_points.value}}"
                  data-dtype="Number"
                />
            </div>
            <div class="flexrow flex-group-center">
              <a class="rolldialog" data-roll="0"
                ><i class="fa-solid fa-dice-five"></i> {{localize 'SHADOWRUN6.Labels.OpenRollDialog'}}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features"
      >{{localize 'SHADOWRUN6.Titles.Character'}}</a
    >
    <a class="item" data-tab="attributes"
      >{{localize 'SHADOWRUN6.Titles.Attributes'}}</a
    >
    <a class="item" data-tab="skills"
      >{{localize 'SHADOWRUN6.Titles.Skills'}}</a
    >
    <a class="item" data-tab="combat"
      >{{localize 'SHADOWRUN6.Titles.Combat'}}</a
    >
    <a class="item" data-tab="equipment"
      >{{localize 'SHADOWRUN6.Titles.Equipment'}}</a
    >
    <a class="item" data-tab="magic">{{localize 'SHADOWRUN6.Titles.Magic'}}</a>
    <a class="item" data-tab="vehicle"
      >{{localize 'SHADOWRUN6.Titles.Vehicle'}}</a
    >
    <a class="item" data-tab="matrix">Matrix</a>
    <a class="item" data-tab="notes">{{localize 'SHADOWRUN6.Titles.Notes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Character Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      {{> "systems/shadowrun6-lw/templates/actor/parts/actor-social.html"}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> "systems/shadowrun6-lw/templates/actor/parts/actor-attributes.html"}}
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/shadowrun6-lw/templates/actor/parts/actor-skills.html"}}
    </div>

    {{!-- Combat Tab --}}
    <div class="tab combat" data-group="primary" data-tab="combat">
      {{> "systems/shadowrun6-lw/templates/actor/parts/actor-combat.html"}}
    </div>

    {{!-- Equipment Tab --}}
    <div class="tab items" data-group="primary" data-tab="equipment">
      {{> "systems/shadowrun6-lw/templates/actor/parts/actor-equipment.html"}}
    </div>

    {{!-- Magic Tab --}}
    <div class="tab items" data-group="primary" data-tab="magic">
      {{> "systems/shadowrun6-lw/templates/actor/parts/actor-magic.html"}}
    </div>

    {{!-- Vehicle Tab --}}
    <div class="tab items" data-group="primary" data-tab="vehicle">
      {{> "systems/shadowrun6-lw/templates/actor/parts/actor-vehicle.html"}}
    </div>

    {{!-- Matrix Tab --}}
    <div class="tab items" data-group="primary" data-tab="matrix">
      {{> "systems/shadowrun6-lw/templates/actor/parts/actor-matrix.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="notes">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered,
      you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData
      button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
