<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      </div>
    </header>
  
    {{!-- Sheet Body --}}
    <section class="sheet-body">
       <section class="grid grid-2col">
          <div class="flexcol">S/P/R/CF</div>
          <div class="flexcol"><input type="text" name="system.sprcf" value="{{system.sprcf}}" data-dtype="String"/></div>
      </section>
      <section class="grid grid-2col">
        <div class="flexcol">Type / Target</div>
        <div class="flexcol"><input type="text" name="system.type_target" value="{{system.type_target}}" data-dtype="String"/></div>
    </section>
    <section class="grid grid-2col">
        <div class="flexcol">Range</div>
        <div class="flexcol"><input type="text" name="system.range" value="{{system.range}}" data-dtype="String"/></div>
    </section>
    <section class="grid grid-2col">
        <div class="flexcol">Duration</div>
        <div class="flexcol"><input type="text" name="system.duration" value="{{system.duration}}" data-dtype="String"/></div>
    </section>
    <section class="grid grid-2col">
        <div class="flexcol">Drain</div>
        <div class="flexcol"><input type="text" name="system.drain" value="{{system.drain}}" data-dtype="String"/></div>
    </section>
      
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
          
    </section>
  
  </form>
  