<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"
        />
      </h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes"
      >{{localize 'SHADOWRUN6.Labels.Attributes'}}</a
    >
    <a class="item" data-tab="description"
      >{{localize 'SHADOWRUN6.Labels.Description'}}</a
    >
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="shadowrun6 styled_box">
        <section class="grid grid-2col">
          <div class="flexcol">
            {{localize 'SHADOWRUN6.Items.Skill.skill_rank'}}
          </div>
          <div class="flexcol">
            <input
              type="text"
              name="system.skill_rank"
              value="{{system.skill_rank}}"
              data-dtype="Number"
            />
          </div>
        </section>

        <section class="grid grid-2col">
          <div class="flexcol">
            {{localize 'SHADOWRUN6.Items.Skill.skill_attribute'}}
          </div>
          <div class="flexcol">
            <select class="" name="system.skill_attribute" data-type="String">
              {{#select system.skill_attribute}} {{#each attribute_selection as
              |attr|}}
              <option value="{{attr.key}}">{{attr.label_with_total_mod}}</option>
              {{/each}} {{/select}}
            </select>
          </div>
        </section>
        <section class="grid grid-2col">
          <div class="flexcol">
            {{localize 'SHADOWRUN6.Items.Skill.skill_type'}}
          </div>
          <div class="flexcol">
            <select class="" name="system.skill_type" data-type="String">
              {{#select system.skill_type}} {{#each char_skill_types as
              |ct key|}}
              <option value="{{key}}">{{ct.label}}</option>
              {{/each}} {{/select}}
            </select>
          </div>
        </section>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData
      button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
