<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"
        />
      </h1>
      <input
          name="system.short_description"
          type="text"
          value="{{system.short_description}}"
          placeholder="{{localize 'SHADOWRUN6.Help.ShortDescription'}}"
        />
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes"
      >{{localize 'SHADOWRUN6.Labels.Attributes'}}</a
    >
    <a class="item" data-tab="description"
      >{{localize 'SHADOWRUN6.Labels.Description'}}</a
    >
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="shadowrun6 styled_box">
        <section class="grid grid-2col">
          <div class="flexcol">
            {{localize 'SHADOWRUN6.Items.RangedWeapon.weapon_damage'}}
          </div>
          <div class="flexcol">
            <input
              type="text"
              name="system.weapon_damage"
              value="{{system.weapon_damage}}"
              data-dtype="String"
            />
          </div>
        </section>

        <section class="grid grid-2col">
          <div class="flexcol">
            {{localize 'SHADOWRUN6.Items.RangedWeapon.weapon_mode'}}
          </div>
          <div class="flexcol">
            <input
              type="text"
              name="system.weapon_mode"
              value="{{system.weapon_mode}}"
              data-dtype="String"
            />
          </div>
        </section>

        <section class="grid grid-2col">
          <div class="flexcol">
            {{localize 'SHADOWRUN6.Items.RangedWeapon.weapon_r_close'}}
          </div>
          <div class="flexcol">
            <input
              type="text"
              name="system.weapon_r_close"
              value="{{system.weapon_r_close}}"
              data-dtype="Number"
            />
          </div>
        </section>

        <section class="grid grid-2col">
          <div class="flexcol">
            {{localize 'SHADOWRUN6.Items.RangedWeapon.weapon_r_near'}}
          </div>
          <div class="flexcol">
            <input
              type="text"
              name="system.weapon_r_near"
              value="{{system.weapon_r_near}}"
              data-dtype="Number"
            />
          </div>
        </section>

        <section class="grid grid-2col">
          <div class="flexcol">
            {{localize 'SHADOWRUN6.Items.RangedWeapon.weapon_r_far'}}
          </div>
          <div class="flexcol">
            <input
              type="text"
              name="system.weapon_r_far"
              value="{{system.weapon_r_far}}"
              data-dtype="Number"
            />
          </div>
        </section>

        <section class="grid grid-2col">
          <div class="flexcol">
            {{localize 'SHADOWRUN6.Items.RangedWeapon.weapon_r_extreme'}}
          </div>
          <div class="flexcol">
            <input
              type="text"
              name="system.weapon_r_extreme"
              value="{{system.weapon_r_extreme}}"
              data-dtype="Number"
            />
          </div>
        </section>

        <section class="grid grid-2col">
          <div class="flexcol">
            {{localize 'SHADOWRUN6.Items.RangedWeapon.weapon_ammo'}}
          </div>
          <div class="flexcol">
            <input
              type="text"
              name="system.weapon_ammo"
              value="{{system.weapon_ammo}}"
              data-dtype="String"
            />
          </div>
        </section>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData
      button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
